//  ██████╗.██╗...██╗████████╗████████╗.██████╗.███╗...██╗
//  ██╔══██╗██║...██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗..██║
//  ██████╔╝██║...██║...██║......██║...██║...██║██╔██╗.██║
//  ██╔══██╗██║...██║...██║......██║...██║...██║██║╚██╗██║
//  ██████╔╝╚██████╔╝...██║......██║...╚██████╔╝██║.╚████║
//  ╚═════╝..╚═════╝....╚═╝......╚═╝....╚═════╝.╚═╝..╚═══╝
//  ......................................................

.myBtn{
  @include myButton();
  &__secondary{
    color: $c-w;
    background-color: $c-secondary;
    border-bottom-color: $c-secondary_dark;
    &:hover{
      background-color: $c-secondary_dark;
    }
  }
}

.myLink{
  color: $c-primary_dark;
  &:hover{
    text-decoration: none;
  }
}