//  ███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  ...........................................

// Button

@mixin  myButton() {
  border: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}