//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................

$c-primary: #36AADD;
$c-primary_dark: #5FAADB;
$c-secondary: #BBD550;
$c-secondary_dark: #9FBC2D;
$c-w: #fff;
$c-t: transparent;
$c-txt: #888888;

//  ███████╗.██████╗.███╗...██╗████████╗███████╗
//  ██╔════╝██╔═══██╗████╗..██║╚══██╔══╝██╔════╝
//  █████╗..██║...██║██╔██╗.██║...██║...███████╗
//  ██╔══╝..██║...██║██║╚██╗██║...██║...╚════██║
//  ██║.....╚██████╔╝██║.╚████║...██║...███████║
//  ╚═╝......╚═════╝.╚═╝..╚═══╝...╚═╝...╚══════╝
//  ............................................

$f-bigger: 2.75rem; // 44px
$f-big: 1.68rem; // 27px
$f-xnormal: 1.125rem; // 18px
$f-normal: 1rem; // 16px
$f-small: 0.88rem; // 14px
$f-xsmall: 0.75rem;