body{
  background-color: $c-back;
  @include media('small'){
    background: linear-gradient(0deg, rgba(255,255,255,1) 25%, $c-primary 25%, $c-primary 85%, rgba(255,255,255,1) 85%);
    background-repeat: no-repeat;
    background-position-y: 100px;
  }
}
