//  ████████╗██╗...██╗██████╗..██████╗..██████╗.██████╗..█████╗.██████╗.██╗..██╗██╗...██╗
//  ╚══██╔══╝╚██╗.██╔╝██╔══██╗██╔═══██╗██╔════╝.██╔══██╗██╔══██╗██╔══██╗██║..██║╚██╗.██╔╝
//  ...██║....╚████╔╝.██████╔╝██║...██║██║..███╗██████╔╝███████║██████╔╝███████║.╚████╔╝.
//  ...██║.....╚██╔╝..██╔═══╝.██║...██║██║...██║██╔══██╗██╔══██║██╔═══╝.██╔══██║..╚██╔╝..
//  ...██║......██║...██║.....╚██████╔╝╚██████╔╝██║..██║██║..██║██║.....██║..██║...██║...
//  ...╚═╝......╚═╝...╚═╝......╚═════╝..╚═════╝.╚═╝..╚═╝╚═╝..╚═╝╚═╝.....╚═╝..╚═╝...╚═╝...
//  .....................................................................................

*{
  font-family: 'Open Sans', system-ui, sans-serif;
}

html{
  font-size: 16px;
}

h1{
  font-size: $f-big;
  @include media('tablet'){
    font-size: $f-bigger;
  }
}

h5{
  font-size: $f-xnormal;
  @include media('tablet'){
    font-size: $f-big;
  }
}

p, label, input{
  font-size: $f-normal;
  @include media('tablet'){
    font-size: $f-xnormal;
  }
}

a{
  font-size: $f-xnormal;
}

button.btn{
  font-size: $f-big + 0.195 !important;
}

