.myHeader{
  padding: 20px 15px;
  background-color: $c-w;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: $c-primary_dark;
  @include media('tablet'){
    border: none;
  }
}