<form #f="ngForm"
  (ngSubmit)="saveForm(f)"
  autocomplete="off"
  class="myForm"
  novalidate>
  <div class="row">
    <div class="col-12 px-lg-0">
      <app-alert *ngIf="error" [msg]="'Valida este formulario'" [type]="'danger'"></app-alert>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12 col-lg-6 my-0 my-sm-2 px-lg-0">
      <div class="row mx-lg-1">
        <label for="brand"
          class="col-md-4 col-lg-12 d-none d-sm-block px-0">Marca del auto</label>
        <select class="form-control col-md-8 col-lg-12"
          id="brand"
          required
          #brand="ngModel"
          name="brand"
          [ngModel]="data.brand"
          [class.is-invalid]="brand.invalid && brand.touched">
          <option>Ferrari</option>
          <option>Lotus</option>
          <option>Lamborghini</option>
          <option>BMW</option>
          <option>Audi</option>
        </select>
      </div>
    </div>
    <div class="form-group col-8 col-md-12 col-lg-6 my-0 my-sm-2 px-lg-0">
      <div class="row mx-lg-1">
        <label for="model"
          class="col-md-4 col-lg-12 d-none d-sm-block px-0">Modelo del auto</label>
        <select class="form-control col-md-8 col-lg-12"
          id="model"
          required
          #model="ngModel"
          name="model"
          [ngModel]="data.model"
          [class.is-invalid]="model.invalid && model.touched">
          <option>M1</option>
          <option>M2</option>
          <option>M3</option>
          <option>M4</option>
          <option>M5</option>
        </select>
      </div>
    </div>
    <div class="form-group col-4 col-md-12 col-lg-4 my-0 my-sm-2 px-lg-0">
      <div class="row mx-lg-1">
        <label for="year"
          class="col-md-4 col-lg-12 d-none d-sm-block px-0">Año</label>
        <select class="form-control col-md-8 col-lg-12"
          id="year"
          required
          #year="ngModel"
          name="year"
          [ngModel]="data.year"
          [class.is-invalid]="year.invalid && year.touched">
          <option>2020</option>
          <option>2019</option>
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
        </select>
      </div>
    </div>
    <div class="form-group col-12 col-lg-8 my-0 my-sm-2 px-lg-0">
      <div class="row mx-lg-1">
        <label for="email"
          class="col-md-4 col-lg-12 d-none d-sm-block px-0">Email</label>
        <input type="email"
          class="form-control col-md-8 col-lg-12"
          id="email"
          placeholder="email@example.co"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          title="Validate email format"
          required
          #email="ngModel"
          name="email"
          [ngModel]="data.email"
          [class.is-invalid]="email.invalid && email.touched">
      </div>
    </div>
  </div>
  <div class="row">
    <button type="submit"
      class="btn btn-success btn-block btn-lg mt-4 myBtn myBtn__secondary">Cotizar</button>
  </div>
  <div class="row"
    class="text-center my-4">
    <a href=""
      class="myLink">Recuperar Cotización</a>
  </div>
</form>
