<form action="">
    <div class="row">
      <div class="form-group col-12 col-lg-6 my-0 my-sm-2 px-lg-0">
        <div class="row mx-lg-1">
          <label for="brand" class="col-md-4 col-lg-12 d-none d-sm-block px-0">Marca del auto</label>
          <select class="form-control col-md-8 col-lg-12" id="brand">
            <option>Ferrari</option>
            <option>Lotus</option>
            <option>Lamborghini</option>
            <option>BMW</option>
            <option>Audi</option>
          </select>
        </div>
      </div>
      <div class="form-group col-8 col-md-12 col-lg-6 my-0 my-sm-2 px-lg-0">
        <div class="row mx-lg-1">
          <label for="model" class="col-md-4 col-lg-12 d-none d-sm-block px-0">Modelo del auto</label>
          <select class="form-control col-md-8 col-lg-12" id="model">
            <option>M1</option>
            <option>M2</option>
            <option>M3</option>
            <option>M4</option>
            <option>M5</option>
          </select>
        </div>
      </div>
      <div class="form-group col-4 col-md-12 col-lg-4 my-0 my-sm-2 px-lg-0">
        <div class="row mx-lg-1">
          <label for="year" class="col-md-4 col-lg-12 d-none d-sm-block px-0">Año</label>
          <select class="form-control col-md-8 col-lg-12" id="year">
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
            <option>2017</option>
            <option>2016</option>
          </select>
        </div>
      </div>
      <div class="form-group col-12 col-lg-8 my-0 my-sm-2 px-lg-0">
        <div class="row mx-lg-1">
          <label for="email" class="col-md-4 col-lg-12 d-none d-sm-block px-0">Email</label>
          <input type="email" class="form-control col-md-8 col-lg-12" id="email" placeholder="email@example.co">
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-success btn-block btn-lg mt-4">Cotizar</button>
    </div>
    <div class="row" class="text-center my-4">
      <a href="">Recuperar Cotización</a>
    </div>
</form>